.footer {
    background-color: #E82A36;

}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    padding-top: 5px;
}

.copyright {
    color: #fff;
    padding-bottom: 11px;
}